.reset {
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 100px;
    height: 25px;
}
.reset:hover {
    background-color: grey;
}
.container {
display: grid;
grid-template-areas:
"square1 square2 square3"
"square4 square5 square6"
"square7 square8 square9";
justify-content: center;
grid-row-gap: -1px;
grid-column-gap: 0px;
}
.box {
width: 100px;
height: 100px;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
border: solid black 3px;
background-size: cover;
background-repeat: no-repeat;
}
.box:hover {
    background-color: lightgrey;
}
h1 {
    margin: auto;
}
.square1 {
border-top: none;
border-left: none;
}
.square2 {
border-top: none;
}
.square3 {
border-top: none;
border-right: none;
}
.square4 {
border-left: none;
}
.square5 {

}
.square6 {
border-right: none;
}
.square7 {
border-left: none;
border-bottom: none;
}
.square8 {
border-bottom: none;
}
.square9 {
    border-bottom: none;
    border-right: none;
}
